header {
    grid-area: cabe;
    background-image: linear-gradient(to right, rgb(240, 102, 10), rgb(192, 102, 233));
    position: relative;
}
main { 
    grid-area: prin;
    background-color: rgb(243, 72, 186);
}
aside { 
    grid-area: brac;
    background-color:  rgb(51, 187, 241);
}
footer {
    grid-area: roda;
    background-image: linear-gradient(to right, rgb(181, 44, 245), rgb(218, 161, 245));
}
body{
    display: grid;
    grid-template-areas:
    " cabe cabe"
    " brac prin"
    " roda roda";
    grid-template-columns: 180px auto;
    grid-template-rows: 210px auto 200px;
}
.logo{
    border-radius: 10%;
    transition: 1s;
    width: 10%;
}
nav li{
    display: inline;
    margin: 5px;
    border: 5px;
}
nav{
    position: absolute;
    right: 5px;   
}
header{
    display: flex;
    padding: 1rem;
}
.caixa_mae{
    border: 2px solid rgb(219, 39, 174);
    display: flex;
    
}
.card {
    border: rgb(41, 51, 196);
    width: 300px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 127, 227);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 6px 9px black;
}
.card img{
    width: 280px;
}
.card a{
    display: block;
    width: 100px;
    height: 70px;
    background-color: red;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;


}
  
